*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  margin: 0 auto;
}

.container_small{
  width: 80%;
  margin: 0 auto;
}

.bg_orange{
  background-color: orange;
  padding: 5px 5px;
}

/* ///////// REGOLE GENERALI */

/* HEADER */



.header_sx{
  display: flex;
  justify-content: space-between;
  background-color: red;
}

.header_sx ul li{
  display: inline-block;
  padding: 0px 10px;
}


.header_dx{
  display: flex;
  justify-content: flex-end;
  background-color: green;
}

.header_dx ul li{
  display: inline-block;
  padding: 0px 10px;
}

.logo img{
  display: flex;
  align-items: center;
}

.navbar{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.container_navbar{
  width: 60%;
  margin: 0 auto;
}

/* ///////// HEADER */


/* MAIN */

.jumbotron{
  width: 100%;
  height: 900px;
  background-image: url('../img/single-post-img3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 20px;
}

.text{
  background-color: orange;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-40%);
  transform: translateX(-50%);
  z-index: 1;
}

.text_center{
  background-color: white;
  width: 600px;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateY(-42%);
  transform: translateX(-50%);
  padding: 50px;
  text-align: center;
}

.text_center h3{
  padding-top: 15px;
}

/* //////// MAIN */








/* FOOTER */


/* /////////FOOTER */
