*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  margin: 0 auto;
}

.container_small{
  width: 80%;
  margin: 0 auto;
}

.bg_orange{
  background-color: orange;
  padding: 5px 5px;
}


/* ///////// REGOLE GENERALI */

/* HEADER */



.header_sx{
  display: flex;
  justify-content: space-between;
  background-color: red;
}

.header_sx ul li{
  display: inline-block;
  padding: 0px 10px;
}


.header_dx{
  display: flex;
  justify-content: flex-end;
  background-color: green;
}

.header_dx ul li{
  display: inline-block;
  padding: 0px 10px;
}

.logo {
  display: flex;
  justify-content: center;
}

.navbar{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.container_navbar{
  width: 60%;
  margin: 0 auto;
}

/* ///////// HEADER */


/* MAIN */

.jumbotron{
  width: 100%;
  height: 900px;
  background-image: url('../img/single-post-img3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 20px;
}

.text{
  background-color: orange;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-40%);
  transform: translateX(-50%);
  z-index: 1;
}

.text_center{
  background-color: white;
  width: 600px;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateY(-42%);
  transform: translateX(-50%);
  padding: 50px;
  text-align: center;
}

.text_center h3{
  padding-top: 15px;
}

.box{
  width: 800px;
  height: 400px;
  background-color: #f6f7f1;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translateY(-92%);
  transform: translateX(-50%);
}

.box .title{
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
}

.box_img{
  width: calc(100% / 3);
  height: 200px;
  float: right;
  padding: 30px;

}


.box_img .description{
  text-align: center;
  padding-bottom: 10px;
}

.box_img .date{
  font-style: italic;
}

/* ///////// JUMBOTRON */

.popular{
  width: 800px;
  margin: 0 auto;
  margin-top: 400px;

}

.title_section{
  text-transform: uppercase;
  text-align: center;
}

.sub_title{
  padding: 20px;
  text-align: center;
}

.centro{
  width: 100%;
  display: flex;
}


.popular_left{
  width: calc(100% / 2);
  display: flex;
  justify-content: flex-start;
}

.popular_left .content_text{
  padding: 0 15px;
}

.popular_left .content_text h3{
  font-size: 110%;
}

.popular_left .content_text h4{
  font-size: 80%;
  padding-top: 5px;
}

.popular_left .content_text p{
  padding-top: 30px;
}

.popular_left button{
  background-color: orange;
  color: white;
  padding: 5px 10px;
  margin: 20px 15px;
  text-transform: uppercase;
  cursor: pointer;
}



.popular_right{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.popular_right img{
  width: calc(100% / 2 - 15px);
  height: 132px;
  margin-left: 15px;
  margin-bottom: 15px;
}


.culinary{
  width: 100%;
  margin-top: 100px;
}

.box_icons{
  width: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box_icons .icone {
  flex-basis: calc(100% / 4 - 50px);
  height: 200px;
  background-color: white;
  padding: 20px;
  margin-bottom: 15px;
}

.icone .testo{
  text-align: center;
  text-transform: uppercase;
  background-color: white;

}

/* / CULINARY E POPULAR */

.farm{
  width: 800px;
  background-color: violet;
  height: 650px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;

}

.farm .title_section{
  text-align: left;
}

.farm .sub_title{
  text-align: left;
  max-width: 500px;
  padding: 20px 0;
}

.farm button{
  position: absolute;
  top: 15px;
  right: 0;
  background-color: orange;
  color: white;
  text-transform: uppercase;
  padding: 5px 20px;
  cursor: pointer;
}

.farm_img{
  display: flex;
  justify-content: space-between;
}


.farm_left{
  width: 60%;
  position: relative;
}

.farm_left img{
  width: 450px;

}

.farm_left h3, h4{
  padding: 0px 15px;
}

.farm_left p{
  padding: 15px 15px;
}

.farm_left a{
  text-decoration: none;
  color: black;
  padding-left: 15px;
}

.farm_left .chat{
  position: absolute;
  top: 442px;
  right: 40px;
}

.farm_right{
  width: 40%;
}

.farm_right .img_text{
  width: 100%;
  height: 30%;
}

.farm_right .singapore{
  padding-top: 20px;
  width: 100%;
}

.button_singapore{
  background-color: orange;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  padding: 10px;
  cursor: pointer;
}

.social{
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.social_left{
  background-color: red;
  height: 500px;
  width: calc(100% / 2 + 50px);
  display: flex;
  flex-wrap: wrap;
}

.social_box{
  padding-left: 20px;
}

.social_right{
  background-color: green;
  width: calc(100% / 2 - 50px);
  height: 500px;
  display: flex;
  justify-content: flex-end;
}











/* //////// MAIN */








/* FOOTER */

footer{
  margin-top: 1200px;
}



/* /////////FOOTER */
