*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: #f0eeeb;
}

.container{
  width: 100%;
  margin: 0 auto;
}

.container_small{
  width: 80%;
  margin: 0 auto;
}

.bg_orange{
  background-color: orange;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 10px;
}




/* ///////// REGOLE GENERALI */

/* HEADER */



.header_sx{
  display: flex;
  justify-content: space-between;
}

.header_sx ul li{
  display: inline-block;
}


.header_dx{
  display: flex;
  justify-content: flex-end;
}

.header_dx ul li{
  display: inline-block;
  padding: 0px 10px;
}

.header_dx ul li i{
  color: grey;
  padding: 5px 5px;
}

.logo {
  display: flex;
  justify-content: center;
}

.navbar{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.container_navbar{
  width: 60%;
  margin: 0 auto;
}

.navbar_element:hover{
  color: orange;
  cursor: pointer;
}


/* ///////// HEADER */


/* MAIN */

.jumbotron{
  width: 100%;
  height: 900px;
  background-image: url('../img/single-post-img3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 20px;
}

.text{
  background-color: orange;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-40%);
  transform: translateX(-50%);
  z-index: 1;
}

.text_center{
  background-color: white;
  width: 600px;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateY(-42%);
  transform: translateX(-50%);
  padding: 50px;
  text-align: center;
}

.text_center h3{
  padding-top: 15px;
}

.box{
  width: 800px;
  height: 300px;
  background-color: #f6f7f1;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translateY(-92%);
  transform: translateX(-50%);
}

.box .title{
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
}

.box_img{
  width: calc(100% / 3);
  height: 200px;
  float: right;
  padding: 30px;

}


.box_img .description{
  text-align: center;
  padding-bottom: 10px;
}

.box_img .date{
  font-style: italic;
}

/* ///////// JUMBOTRON */

.popular{
  width: 800px;
  margin: 0 auto;
  margin-top: 300px;

}

.title_section{
  text-transform: uppercase;
  text-align: center;
}

.sub_title{
  padding: 20px;
  text-align: center;
}

.centro{
  width: 100%;
  display: flex;
}


.popular_left{
  width: calc(100% / 2);
  display: flex;
  justify-content: flex-start;
  background-color: white;
}

.popular_left .content_text{
  padding: 0 15px;
}

.popular_left .content_text h3{
  font-size: 110%;
}

.popular_left .content_text h4{
  font-size: 80%;
  padding-top: 5px;
}

.popular_left .content_text p{
  padding-top: 30px;
}

.popular_left button{
  background-color: orange;
  color: white;
  padding: 5px 10px;
  margin: 20px 15px;
  text-transform: uppercase;
  cursor: pointer;
}



.popular_right{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.popular_right img{
  width: calc(100% / 2 - 15px);
  height: 132px;
  margin-left: 15px;
  margin-bottom: 15px;
}


.culinary{
  width: 100%;
  margin-top: 100px;
}

.box_icons{
  width: 800px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box_icons .icone {
  flex-basis: calc(100% / 4 - 50px);
  height: 200px;
  background-color: white;
  margin: 20px;
}

.icone .testo {
  text-align: center;
  text-transform: uppercase;
  background-color: white;

}

/* / CULINARY E POPULAR */

.farm{
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;

}

.farm .title_section{
  text-align: left;
}

.farm .sub_title{
  text-align: left;
  max-width: 500px;
  padding: 20px 0;
}

.farm button{
  position: absolute;
  top: 15px;
  right: 0;
  background-color: orange;
  color: white;
  text-transform: uppercase;
  padding: 5px 20px;
  cursor: pointer;
}

.farm_img{
  display: flex;
  justify-content: space-between;
}


.farm_left{
  width: 60%;
  position: relative;
}

.farm_left img{
  width: 450px;

}

.farm_left h3, h4{
  padding: 0px 15px;
}

.farm_left p{
  padding-top: 15px;
  padding-right: 25px;
  padding-left: 15px;
}

.farm_left a{
  text-decoration: none;
  color: black;
  padding-left: 15px;
  vertical-align: middle;
}

.farm_left a i{
  font-size: 80%;
}


.farm_left .chat{
  position: absolute;
  top: 442px;
  right: 40px;
}

.farm_right{
  width: 40%;
}

.farm_right .img_text{
  width: 100%;
  height: 60%;
  position: relative;
}

.testo_farm{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 260px;
  right: 110px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}


.farm_right .singapore{
  padding-top: 20px;
  width: 100%;
  position: relative;
}

.testo_singapore{
  width: 180px;
  background-color: #39403e;
  position: absolute;
  top: 670px;
  padding: 10px;
  color: white;
  opacity: 0.9;
}


.button_singapore{
  background-color: orange;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  padding: 10px;
  cursor: pointer;
}

.social{
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.read_more{
  width: 500px;
  background-color: #f6f7f1;
  position: absolute;
  left: 500px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  margin-top: 50px
}

.social_left{
  width: calc(100% / 2 + 75px);
  display: flex;
  flex-wrap: wrap;
}

.social_box{
  width: calc(100% / 2);
  padding-left: 20px;

}

.img_title{
  text-align: center;
  padding-right: 40px;

}

.img_subtitle{
  text-align: center;
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}


.social_right{
  width: calc(100% / 2 - 75px);

}

.social_right input{
  height: 50px;
  width: 100%;
}

.follow{
  padding-top: 15px;
  color: orange;
  font-weight: bold;
}

.social_right ul li{
  display: inline-block;
  padding: 15px 5px;

}

.social_right ul li i{
  color: grey;
  background-color: #f6f7f1;
  padding: 5px;
  border-radius: 5px;

}

.reviews{
  display: flex;
  justify-content: space-around;
}

.reviews_popular{
  padding: 10px 30px;
  background-color: #f6f7f1;
}


.reviews_recent{
  padding: 10px 30px;
  background-color: #f6f7f1;
}

.legend ul{
  display: flex;
  flex-direction: column;
}

.legend ul li img{
  border-radius: 50%;
  vertical-align: middle;
}

.legend{
  position: relative;
}

.legend p{
  padding-left: 15px;
}

.legend_description1{
  width: 252px;
  position: absolute;
  top: 20px;
  left: 70px;

}


.legend_description2{
  width: 252px;
  position: absolute;
  top: 120px;
  left: 70px;

}


.legend_description3{
  width: 252px;
  position: absolute;
  top: 215px;
  left: 70px;

}


.legend_box{
  width: 100%;
  height: 451px;
  background-color: white;
  position: absolute;
  top: 350px;
}

.legend_box .title{
  color: blue;
  text-decoration: none;
  font-size: 70%;
}

.legend_box img{
  padding-top: 15px;
}

.legend_box h5{
  text-align: left;
}

.legend_text{
  position: absolute;
  top: 35px;
  left: 50px;
  padding-right: 10px;
}

.legend_text h5{
  font-size: 80%;
  color: grey;
}

.legend_text p{
  text-align: left;
}

.legend_text a{
  color: blue;
  text-decoration: none;
}

.legend_text img{
  width: 270px;
}

.legend_icons i{
  padding: 5px;
  color: grey;
}


.subscribe{
  width: 100%;
  height: 550px;
  margin: 0 auto;
  margin-top: 250px;
  background-image: url('../img/subscribe-sec-bg.png');
  background-repeat: no-repeat;
  background-size: 105%;
  position: relative;
}

.subscribe_text{
  width: 650px;
  height: 300px;
  position: absolute;
  top: 25%;
  transform: translateY(-25%);
  left: 50%;
  transform: translateX(-50%);
}

/* .subscribe h2, h5, p{

} */

.subscribe h5{
  margin-top: 15px;
}


.subscribe p{
  margin-top: 35px;
}


.subscribe_text input{
  margin-top: 40px;
  height: 40px;
  width: 70%;
  margin-left: 10px;
}

.subscribe_text button{
  margin-top: 40px;
  height: 40px;
  width: 25%;
  background-color: orange;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.immagini{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.immagini img{
  flex-basis: calc(100% / 4);
  height: 300px;
}


/* //////// MAIN */


/* FOOTER */

footer{
  height: 450px;
  padding-top: 50px;
  position: relative;
  background-color: white;
}

.box_footer{
  width: 100%;
  display: flex;
}

.box_footer h2{
  color: orange;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.logo_footer{
  width: calc(100% / 4);
  border-right: 1px solid black;
}

.logo_footer img{
  width: 60%;

}


.logo_footer .icone ul li{
  display: inline-block;
  padding: 0 5px;
  margin-top: 20px;
  color: grey;
}


.menu_footer{
  width: calc(100% / 4);
  border-right: 1px solid black;
  padding-left: 30px;
}

.menu_footer ul li{
  list-style: none;
  padding: 15px 0;

}

.menu_footer ul li a{
  text-decoration: none;
  color: black;
  font-size: 110%;
}

.menu_contact{
  width: calc(100% / 4);
  border-right: 1px solid black;
  text-align: center;
  padding: 0 50px;
}

.menu_contact ul li{
  list-style: none;
  padding: 15px 0;
}

.menu_contact i{
  vertical-align: middle;
  padding-right: 5px;
}


.menu_app{
  width: calc(100% / 4);
  text-align: center;
}

.menu_app img{
  padding: 5px;
  cursor: pointer;
}


.torna{
  margin-left: 20px;
  position: absolute;
  top: 330px;
  left: 20px;

}

.torna i{
  background-color: #6a6b6c;
  color: white;
  padding: 20px;
  border-radius: 50%;
}

.copyright{
  text-align: center;
  margin-top: 25px;
}

.copyright i{
  font-size: 70%;
}



/* /////////FOOTER */
